<div class=  "container">
<h2>Teamsof this account</h2>
<h2>Create a new Team</h2>
<%= form_for :team, url: account_teams_path(acc_id: params[:id]),method: :post do |f| %>
  <div class="form-group">
    <%= f.hidden_field :acc_id,value: params[:account_id] %>
    <%= f.hidden_field :user_id,value: params[:current_user_id] %>
    <%= f.label :team_name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
    <%= f.submit "Create Team" ,:class => "btn btn-success btn-mini" %>
  </div>
  <%end%>

  <h2>all teams </h2>
  <% @teams.each do |t| %>
    <% if (t.acc_id) == (params[:account_id].to_i) %>
      <li class="list-group-item list-group-item-primary"> <%= t.name %> <a href ="<%= account_team_path(params[:account_id],t.id)%>"><i class="fas fa-eye"></i> </a></li>
    <%end%>
  <%end%>

    <h2>MyTeams</h2>
    <% @my_teams.each do |t|%>
      <li class="list-group-item list-group-item-primary"> <%= t.name %> <a href ="<%= account_team_path(params[:account_id],t.id)%>"><i class="fas fa-eye"></i> </a></li>
    <%end%>
  <h2> All Teams </h2>
  <% @other_teams.each do |t|%>
    <li class="list-group-item list-group-item-primary"> <%= t.name %> <a href ="<%= account_team_path(params[:account_id],t.id)%>"><i class="fas fa-eye"></i> </a></li>
  <%end%>
</div>
