<%= form_for(@invitation) do |f| %>
  <%= hidden_field_tag :acc_id,params[:id] %>
  <div class="field">
    <%= f.label :invite_email %><br />
    <%= f.email_field :invite_email, autofocus: true   %>
  </div>
    <%= f.submit "send invitation" %>
  </div>
  <%end%>
