
<%if @account.user_id == current_user.id%>
  <%= form_for(@invitation) do |f| %>
  <%= hidden_field_tag :acc_id,params[:id] %>
  <div class="field">
    <%= f.label :invite_email %><br />
    <%= f.email_field :invite_email, autofocus: true   %>
  </div>
    <%= f.submit "send invitation" %>
  </div>
  <%end%>
  <%end%>
<h2>members of this account</h2>
  <% @members.each do |f|%>
    <ul> <%= f.email %><br></ul>
  <%end%>
